#postamble {
	display: none;
}

/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* layout */
html {
	font-size: var(--font-size);
	color: var(--color-text);
	min-height: 100%;
}
html,
body {
	display: flex;
	flex-direction: column;
}
body {
	background-color: var(--color-bg);
	margin: 0;
	flex-grow: 1;
}

body-menu menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body-menu menu a {
	display: inline-flex;
	padding: calc(var(--size) / 2);
}

/* emacs generator content */
#content {
	padding: 1rem;
	flex-grow: 1;
	max-width: 100vw;
}
.title {
	text-align: left;
}

/* links */
a {
	color: var(--color-link);
}
a:visited {
	color: var(--color-link-visited);
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
/* elements */
blockquote {
	padding: 0.5rem;
	margin: 0;
	font-style: italic;
}

/* code block */
pre {
	background-color: var(--color-code);
	margin: 0;
}
.org-src-container {
	margin-bottom: var(--size);
}

/* outlines */
.outline-2,
.outline-3,
.outline-4 {
	margin-bottom: var(--size);
}
