midi-sequencer {
	--c-bg: lightgray;
	--c-bg--playing: slategray;
	--c-border-track: darkgray;

	/* js */
	--grid-size: 1;
}

midi-sequencer midi-track {
	margin: calc(var(--size) / 4);
}
midi-track {
	background-color: var(--color-piano);
	display: flex;
	/* hollow horizontal overflow scroll, but hide scrollbar */
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

midi-sequencer {
	display: block;
	background-color: var(--c-bg);
	padding: calc(var(--size) / 3);
}

midi-sequencer[is-playing="true"] {
	background-color: var(--c-bg--playing);
}
midi-sequencer[grid-size] {
	grid-template-columns: repeat(var(--grid-size), 1fr);
}
midi-track {
	border: 1px solid var(--c-border-track);
	padding: 10px;
	margin: 5px;
}
/* the grid logic, from js values */
midi-track {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(var(--grid-size), 1fr);
}
nidi-note {
	grid-column-start: var(--grid-position);
}
