piano-app {
	z-index: 1;
}

piano-app:not(:fullscreen) {
	position: sticky;
	bottom: 0;
}
piano-app details {
	display: flex;
	flex-wrap: wrap;
}
piano-app details[open] {
	background-color: var(--color-bg);
	height: 100%;
}
piano-app:fullscreen {
	font-size: calc(var(--size) * 1.1);
}
piano-app:fullscreen details[open] {
	position: static;
	flex-grow: 1;
}
piano-app:fullscreen details[open] summary {
	display: none;
}
piano-app:fullscreen details[open] piano-layout {
	display: flex;
}
piano-app:not(:fullscreen) piano-layout {
	padding: calc(var(--size) / 2);
}
piano-app summary {
	padding: calc(var(--size) / 3);
	cursor: pointer;
	background-color: var(--color-bg-2);
	display: flex;
	justify-content: space-between;
}
piano-app piano-audio {
	padding: calc(var(--size) / 3);
}
piano-app piano-settings {
	display: flex;
	flex-direction: column;
	max-width: calc(var(--size) * 4);
	padding: calc(var(--size) / 2);
}
