piano-audio {
	padding: calc(var(--size) / 3);
}

piano-audio form {
	display: flex;
	flex-wrap: wrap;
	display: none;
}

piano-audio form fieldset {
	border: none;
	margin: 0;
	padding: calc(var(--size) / 3);
}

piano-audio form input {
	max-width: 3rem;
}
