piano-layout {
	--color-note-white: inherit;
	--color-note-black: inherit;
	--color-note-outline: inherit;
	--piano-height: 7em;
	--piano-note-height-ratio: 0.5;
	--piano-note-width-ratio: 0.7;
	--note-width: 2.2em;
	--note-width-black: calc(var(--note-width) * var(--piano-note-width-ratio));
	background-color: var(--color-piano);
	display: flex;
	/* hollow horizontal overflow scroll, but hide scrollbar */
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

piano-layout[input-active][input-keyboard],
piano-layout[input-active][input-mouse] {
	opacity: 1;
}

piano-layout[input-keyboard],
piano-layout[input-mouse] {
	opacity: 0.7;
}
piano-layout[input-active][input-mouse] {
	user-select: none;
}
piano-octave {
	display: flex;
	flex-direction: column;
}
piano-octave:hover piano-octave-info {
	font-weight: bold;
}
piano-octave-info {
	margin: 0.3em;
	padding: 0.3em;
	border-top: 1px solid var(--color-text-info);
	color: var(--color-text-info);
	text-align: center;
	font-size: var(--font-size-info);
}

piano-octave-main {
	display: flex;
}
piano-note {
	display: flex;
	flex-direction: column;
}

piano-note-key {
	width: var(--note-width);
	height: var(--piano-height);
	border: 0.04rem solid var(--color-note-outline);
}

piano-note[color="white"] piano-note-key {
	background-color: var(--color-note-white);
}
piano-note[color="black"] {
	/* we make the black key have it own width,
	 but "fake a width 0", with negative side-margins;
	 the -1px seems to fix a layout jump in main piano */
	--visual-offset: calc(var(--note-width-black) / 2 * -1 - 1px);
}
piano-note[color="black"] piano-note-key {
	position: relative;
	z-index: 1;
	width: var(--note-width-black);
	height: calc(var(--piano-height) * var(--piano-note-height-ratio));
	margin-left: var(--visual-offset);
	margin-right: var(--visual-offset);
	background-color: var(--color-note-black);
}

piano-note {
	/* replaced by js if note velocity data */
	--note-velocity: 36;
	position: relative;
}
piano-note[is-playing] {
}
piano-note[is-playing][velocity] piano-note-key {
	opacity: calc(2% * var(--note-velocity));
}
piano-note[is-playing] piano-note-key,
piano-note:hover piano-note-key {
	background-color: var(--color-text-info);
	outline-offset: 0.2em;
}
piano-note[is-playing] piano-note-info,
piano-note:hover piano-note-info {
	font-weight: bold;
	z-index: 2;
}
piano-note[is-playing][color="white"] piano-note-info,
piano-note[color="white"]:hover piano-note-info {
	color: var(--color-note-white);
}
piano-note[show-info="true"] {
	padding-top: 1em;
}
piano-note-info {
	position: absolute;
	color: var(--color-text-info);
	font-size: var(--font-size-info);
}
piano-note[color="white"] piano-note-info {
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
piano-note[color="black"] piano-note-info {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateX(calc(var(--visual-offset) - 50%));
}
piano-note-key {
	transition: background-color 66ms ease-out, opacity 200ms ease-out;
	background-color: transparent;
	opacity: 1;
}
piano-note[color="white"] piano-note-key {
	order: 1;
}
piano-note[color="white"] piano-note-info {
	order: 2;
}
piano-note[color="black"] piano-note-key {
	order: 2;
}
piano-note[color="black"] piano-note-info {
	order: 1;
}

/* the piano settings */
piano-settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: calc(var(--size) / 2);
}
piano-settings select {
	max-width: var(--piano-height);
}
