/* vars */
:root,
:host {
	--font-size: 19px;
	--font-size-info: 0.8rem;
	--size: 1.5em;

	--color-link: blue;
	--color-link-visited: orange;
	--color-text: black;
	--color-text-info: purple;
	--color-bg: turquoise;
	--color-bg-2: cadetblue;
	--color-code: lightgray;

	--color-piano: transparent;
	--color-note-white: white;
	--color-note-black: black;
	--color-note-outline: black;
}
